audio {
  width: 100%;
  margin-bottom: 20px;
}

#lyrics {
  margin: 20px 0;
  margin: 20px 0;
  max-height: 200px; /* Adjust this value as needed */
  overflow-y: auto;
}

.lyric-line {
  margin: 5px 0;
}

.current-line {
  color: #007BFF;
  font-weight: bold;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background: #007BFF;
  color: white;
  cursor: pointer;
}

button:disabled {
  background: #ccc;
}




